{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="border rounded mt-4 shadow">
    <div class="media">
        <div class="media-body m-3">
            <h4 class="my-2"><a href={% url 'show_project' project.id %}>{{ project.title }}</a></h4>
            <ul class="list-inline ml-0 pt-3">
                <p>Вы действительно хотите исключить данного участника из проекта?</p>
                    <li class="list-inline-item ml-3 mr-1">
                        
                        <div class="image-wrap"><img src=
                        {% if member.avatar %}
                                "{{ member.avatar.url }}"
                        {% else %}
                                "{% static '/img/dao.jpg' %}"
                        {% endif %}
                        style="width:30px;height:30px;" class="rounded-circle img-fluid" alt="avatar">
                    </div>
                    </li>

                    <li class="list-inline-item ml-0 mr-3">

                    <label>
                        {{ member.username }}
                    </label>

                    </li>

                    <li class="list-inline-item ml-0">

                    <form method="post">
                        {% csrf_token %}

                    <a href={% url 'delete_member' project.id member.id %}>
                        <button type="submit" class="btn btn-danger ml-3">
                            Исключить
                        </button>
                    </a>

                    </form></li>

                    <li class="list-inline-item ml-0 mr-3">
                    <form action="{% url 'show_project' project.id %}" method="get">
                        <button type="submit" class="btn btn-outline-primary">
                            Оставить и вернуться к проекту
                        </button>

                </form></li>
        </div>
    </div>
</div>

{% endblock content %}