{% extends 'base.html' %}

{% block content %}
    <h1>Вход</h1>
    {% if form.errors %}
        <p>Имя пользователя и пароль не совпадают. Пожалуйста, попробуйте снова.</p>
    {% else %}
        <p>Пожалуйста, используйте форму ниже для входа. Если у Вас нет аккаунта,
        <a href="{% url "register" %}">пройдите регистрацию</a>.</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" class="btn-primary rounded col-2 p-2" value="Войти"></p>
        </form>
    </div>
{% endblock %}